button {
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);

    filter: hue-rotate(0deg);

    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background: radial-gradient(
            circle,
            var(--main-bg-color) 0%,
            rgba(0, 0, 0, 0) 95%
        ),
        linear-gradient(var(--pattern-color) 1px, transparent 1px),
        linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size: cover, 10px 10px, 10px 10px;
    background-position: center center, center center, center center;
    border-image: radial-gradient(
            circle,
            var(--main-color) 0%,
            rgba(0, 0, 0, 0) 100%
        )
        1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 2rem; /* Padding padrão */
    font-weight: 700;
    font-size: 1.3rem; /* Tamanho da fonte padrão */
    border-radius: 10px;
    transition: background-size 0.2s ease-in-out;
    position: relative;
    animation: neonPulse 2s infinite alternate;
}

@keyframes neonPulse {
    0%,
    100% {
        box-shadow: 0 0 10px rgba(46, 213, 116, 0.7),
            0 0 20px rgba(46, 213, 116, 0.6), 0 0 30px rgba(46, 213, 116, 0.36),
            0 0 40px rgba(46, 213, 116, 0.4), 0 0 50px rgba(46, 213, 116, 0.073);
    }
    50% {
        box-shadow: 0 0 20px rgba(46, 213, 115, 1),
            0 0 30px rgba(46, 213, 115, 0.9), 0 0 40px rgba(46, 213, 115, 0.8),
            0 0 50px rgba(46, 213, 115, 0.7), 0 0 60px rgba(46, 213, 115, 0.6);
    }
}

button:hover {
    background-size: cover, 10px 10px, 10px 10px;
}

button:active {
    filter: hue-rotate(250deg);
}

@media (max-width: 768px) {
    button {
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    button {
        padding: 0.6rem 1rem;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
}
